@charset "UTF-8";

@media only screen and (max-width: 425px) {
    header {
        font-size: 0.8em;
    }

    form textarea {
        font-size: 18px;
        height: 170px;
    }

    form button {
        font-size: 14px;
        padding: 6px;
    }

    footer {
        font-size: 18px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        padding: 15px;
    }

    header {
        font-size: 0.7em;
    }
}